.sky-1{
    background-color: #4b30e2fc;
    color: #ceddea;
   
    margin: 0px;
    
}
.sky-2{
    background: #4b4bdb;
    color: aliceblue;
    
    margin: 0%;
}
.sky-3{
    background: #4e4ee0;
    color: aliceblue;
    
    margin: 0%;}
    .sky-4{
        background: #4b4bdb;
        color: aliceblue;
        
        margin: 0%;}
        .sky-5{
            background: #4b4bdb;
            color: aliceblue;
            
            margin: 0%;}
            .sky-6{
                background: #4b4bdb;
                color: aliceblue;
                
                margin: 0%;}
                .sky-7{
                    background: #4e29f3;
                    color: aliceblue;
                    
                    margin: 0%;}
                    .green{
                        background: #66d928;
                        color: aliceblue;
                        margin: 0%;}
                        .pink-1{
                            background: #962e77;
                        color: aliceblue;
                        margin: 0%;
                        } .pink-2{
                            background: #e555ba;
                        color: aliceblue;
                        margin: 0%;
                        } .pink-3{
                            background: #e948b9;
                        color: aliceblue;
                        margin:0%;
                        } .pink-4{
                            background: #cd43a4;
                        color: aliceblue;
                        margin: 0%;
                        } .pink-5{
                            background: #e84bb9;
                        color: aliceblue;
                        margin: 0%;
                        } .pink-6{
                            background: #c53d9c;
                        color: aliceblue;
                        margin:0%
                        } .pink-7{
                            background: #cf309f;
                        color: aliceblue;
                        margin: 0%;}
                      